[Desktop Entry]
Icon=font-ttf
Name=Inter-VariableFont_slnt,wght.ttf
Type=Link
URL[$e]=file:$HOME/Downloads/Inter-VariableFont_slnt,wght.ttf
X-KDE-LastOpenedWith=org.kde.kfontview
