[Desktop Entry]
Icon=image-png
Name=kindpng_975797.png
Type=Link
URL[$e]=file:$HOME/Downloads/kindpng_975797.png
X-KDE-LastOpenedWith=org.kde.plasmashell
